@import "../../../stylesheets/index"

.modal
  $root: &
  position: fixed
  width: 960px
  height: calc(100vh - 200px)
  max-height: 670px
  background: transparent
  left: 50%
  top: 50%
  transform: translate(-50%, -50%) translateZ(0)
  z-index: 2500
  display: flex


  &_auto
    height: auto

  &_middle
    z-index: 2500

  &_large
    width: calc(100% - 60px)
    min-height: calc(100% - 100px)

  @include breakpoint-phone
    width: calc(100% - 30px)

  &__close
    position: absolute
    padding: 0
    margin: 0
    right: 0
    top: -40px
    width: 30px
    height: 30px
    border: 1px solid $white
    border-radius: 50%
    background: transparent
    cursor: pointer

    &:before, &:after
      position: absolute
      content: ''
      display: block
      width: 16px
      height: 1px
      background: $white
      top: 14px
      left: 6px

    &:before
      transform: rotate(45deg)

    &:after
      transform: rotate(-45deg)

  &__container
    height: 100%
    overflow-y: auto
    display: flex
    align-self: center
    justify-content: center
    flex: 1

  &__overlay
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 2000
    background: rgba($gray100, 0.7)

