@import "../../../../../stylesheets/index"

.player
  position: relative
  flex: 1
  background: $silver
  margin-right: 10px
  border-radius: 10px
  display: flex
  flex-direction: column


  &__container
    display: flex
    align-items: center
    flex: 1
