@import "../../../../stylesheets/index"

.charts
  position: relative
  padding: 20px 30px 70px

  &__header
    position: relative

  &__information
    position: relative
    height: 200px

  &__title
    text-align: center
    @include fontFuturaMedium(35px)
    color: $gray60
    padding: 0
    margin-bottom: 20px
    line-height: 45px

  &__sub-title
    @include fontFuturaDemic(28px)
    color: $gray60
    padding: 0
    margin-bottom: 30px
    text-align: center

    &_left
      text-align: left

    &_right
      text-align: right

    &_center
      text-align: center

  &__image
    width: 100%
    display: block
    object-fit: contain
    cursor: pointer

    &_is_college
      position: relative

  &__list
    position: relative

    &_school
      position: relative

    &_college
      position: relative
      margin: 0
