@import "../../../stylesheets/index"

.grand-chart
  $root: &
  position: relative
  background: #E5E5E5
  //flex: 1
  overflow: auto
  padding-right: 40px
  padding-bottom: 20px

  &__gold-line
    position: absolute
    top: 0
    right: 0
    width: 230px
    height: 100%
    background: $gold

  &_isEmpty
    flex: 1

    #{$root}__header
      justify-content: center
      margin-right: 0
      flex-direction: column

      #{$root}__logotype
        flex: 0 0 auto
        margin-right: 10px

      &:after
        content: 'Cooming soon...'
        display: flex
        color: $white
        font-weight: 600
        margin: 15px 0 0


  &_loading
    flex: 1

    #{$root}__header
      justify-content: center

      &:after
        display: none !important

  &_is_transparent
    background: transparent

  &__header
    height: 80px
    margin: 20px 0
    padding: 0 0 0 20px
    display: flex
    width: 100%
    align-items: center

  &__logotype
    display: flex
    align-items: center
    flex: 0 0 200px
    justify-content: center

  &__name
    @include fontMontserrat(18px, 700)
    line-height: 21.94px
    margin-left: 10px

    &_school
      color: $school

    &_college
      color: $college

    &_university
      color: $university

  &__container
    position: relative
    display: flex
    flex: 1

  &__sidebar
    flex: 0 0 210px
    padding-left: 20px

  &__content
    position: relative
    flex: 1
    margin-left: 10px

  &__gold-line
    display: none
    position: absolute
    top: -105px
    right: -15px
    border-radius: 10px
    height: calc(100% + 90px)
    background: $gold

    &_show
      display: none

    &_isFetch
      display: none !important

    @include breakpoint-phone
      display: none !important
