@import "../../../stylesheets/index"

.grand-chart
  $root: &
  position: relative
  background: #E5E5E5
  flex: 0 0 1
  overflow: auto

  &__header
    position: relative

  &__logotype
    position: relative

  &__body
    position: relative
