@import "../../../stylesheets/index"

.cabinet-layout
  position: relative
  display: flex
  margin: 10px 0 0
  padding-bottom: 250px

  @include breakpoint-phone
    flex-direction: column

  &__sidebar
    width: 200px
    margin-right: 10px

  &__content
    flex: 1
    padding-bottom: 20px
