@import "../../../stylesheets/index"

.title
  position: relative
  @include fontMontserrat()

  &_school
    color: $school

  &_college
    color: $college

  &_university
    color: $university

  &_first
    font-size: 60px
    font-weight: 700
    line-height: 75px

    @include breakpoint-phone
      font-size: 40px
      line-height: 60px

  &_second
    font-size: 48px
    font-weight: 700
    line-height: 43.88px

    @include breakpoint-phone
      font-size: 38px
      line-height: 48px

  &_third
    font-size: 36px
    font-weight: 700
    line-height: 50px

  &_service-page
    @include fontMontserrat(42px, 700)
    line-height: 56px

  &_fourth
    font-size: 22px
    line-height: 30px

