@import "../../../../../../stylesheets/index"

.timer
  position: relative
  $root: &
  user-select: none
  cursor: pointer

  &_school
    position: relative

    #{$root}__head, #{$root}__arrow-vertical, #{$root}__arrow
      background: $school

    #{$root}__background
      stroke: rgba($school, 0.25)

    #{$root}__progress
      stroke: $school

    #{$root}__circle
      stroke: rgba($school, 0.25)

  &_college
    position: relative

    #{$root}__head, #{$root}__arrow-vertical, #{$root}__arrow
      background: $college

    #{$root}__background
      stroke: rgba($college, 0.25)

    #{$root}__progress
      stroke: $college

    #{$root}__circle
      stroke: rgba($college, 0.25)

  &_university
    position: relative

    #{$root}__head, #{$root}__arrow-vertical, #{$root}__arrow
      background: $university

    #{$root}__background
      stroke: rgba($university, 0.25)

    #{$root}__progress
      stroke: $university

    #{$root}__circle
      background: rgba($university, 0.25)


  &_25
    position: relative

    #{$root}__background
      stroke-dasharray: 65.9px 113px

    #{$root}__turn
      transform: rotate(56deg)
      stroke-dasharray: 15.8px 155px

  &_35
    position: relative

    #{$root}__background
      stroke-dasharray: 100px 113px

    #{$root}__turn
      transform: rotate(131deg)
      stroke-dasharray: 22.8px 155px

  &_45
    position: relative

    #{$root}__background
      stroke-dasharray: 123px 288px

    #{$root}__turn
      transform: rotate(179deg)
      stroke-dasharray: 42px 155px

  &__body
    fill: $white

  &__background
    position: relative
    fill: transparent
    stroke-width: 36px
    transform: rotate(-90deg)
    transform-origin: center
    transition: stroke-dasharray 0.3s

  &__turn
    position: relative
    fill: transparent
    stroke-width: 36px
    transform-origin: center
    stroke: rgba($gold, 1)
    transition: stroke-dasharray 0.3s

  &__progress
    position: relative
    transform: rotate(-90deg)
    transform-origin: center
    stroke-dasharray: 0 236px
    stroke-width: 4px
    fill: transparent
    transition: stroke-dasharray 0.3s

  &__time
    position: absolute
    z-index: 1000
    left: 50%
    top: 50%
    transform: translate(-50%, -52%)
    @include fontMontserrat(18px)
    line-height: 25px
    color: $gray50

  &__head
    width: 20px
    height: 6px
    margin: 0 auto 8px

  &__arrow-vertical
    position: absolute
    right: 12px
    top: 11px
    width: 2px
    height: 8px
    transform: rotate(35deg)

  &__arrow
    position: absolute
    right: 2px
    top: 8px
    width: 13px
    height: 2px
    transform: rotate(35deg)

  &__circle
    width: 16px
    height: 16px
    position: absolute
    z-index: 100
    left: 50%
    top: 56px
    border-radius: 50%
    transform: translateX(-50%)


