@import "../../../../../../stylesheets/index"

.timer
  position: relative

  &__body
    fill: $white

  &__background
    position: relative
    fill: transparent
    stroke-width: 36px
    stroke-dasharray: 0 113px
    transform: rotate(-90deg)
    transform-origin: center

    &_school
      stroke-dasharray: 47px 113px
      stroke: rgba($school, 0.6)

    &_college
      stroke-dasharray: 47px 113px
      stroke: rgba($college, 0.6)

  &__turn
    position: relative
    fill: transparent
    stroke-width: 36px
    stroke-dasharray: 9px 113px
    transform: rotate(60deg)
    transform-origin: center
    stroke: rgba($gold, 1)

  &__progress
    transform: rotate(-90deg)
    transform-origin: center
    stroke-dasharray: 43px 239px
    stroke: $school
    stroke-width: 4px
    fill: transparent
    transition: stroke-dasharray 0.3s

  &__time
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -34%)
    @include fontMontserrat(18px)
    line-height: 25px
    color: $gray50

  &__head
    width: 20px
    background: $school
    height: 6px
    margin: 0 auto 8px

  &__arrow-vertical
    position: absolute
    right: 12px
    top: 11px
    width: 2px
    height: 8px
    background: $school
    transform: rotate(35deg)

  &__arrow
    position: absolute
    right: 2px
    top: 8px
    width: 13px
    height: 2px
    background: $school
    transform: rotate(35deg)

