@import "../../../../stylesheets/index"

.method
  $root: &
  position: relative

  &__content
    padding: 42px 53px 42px
    @include fontMontserrat(18px, 400)
    margin-bottom: 25px
    line-height: 30px

    p
      margin-bottom: 15px
      @include fontMontserrat(18px)
      line-height: 30px

    h3
      margin-bottom: 15px
      font-size: 20px !important
      @include fontMontserrat(18px, 800)
      line-height: 30px

  &__header
    display: flex
    align-items: center
    background: $school
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    padding: 30px 45px 28px
    z-index: 100

    &-text
      @include fontMontserrat(24px, 700)
      line-height: calculateRem(24px)
      color: $white

    @include breakpoint-phone
      border-radius: 0

    &_school
      background: $school

    &_college
      background: $college



  &__head
    position: relative
    height: 50px
    border-radius: 10px 10px 0 0
    background: #E5E5E5
    margin: 0
    display: flex
    justify-content: center
    align-items: center

    &_isNotes
      position: relative
      flex: 1 1 52px


    &_school
      #{$root}__checked
        border-color: $school

    &_college
      #{$root}__checked
        border-color: $college

    &_university
      #{$root}__checked
        border-color: $university

  &__control
    position: relative
    display: flex
    align-items: center

  &__switcher
    position: relative
    width: 50px
    height: 30px
    background: $gray20
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25)
    border-radius: 8px
    margin: 0 10px

  &__checked
    position: absolute
    top: 4px
    left: 4px
    width: 22px
    height: 22px
    background: transparent
    border-radius: 5px
    cursor: pointer
    transition: all .2s
    background: $white
    border-style: solid
    border-width: 3px 9px 3px 9px

    &_isNotes
      left: 24px

