@import "../../../stylesheets/index"

.lesson-view

  &__message
    display: none
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%)
    flex: 1
    color: $white
    z-index: 500

  &__test
    width: 20px
    height: 20px
