@import "~css-reset-and-normalize/scss/reset-and-normalize"
@import "~bootstrap/scss/bootstrap-grid"
@import "stylesheets/index"

@media (min-width: 1200px)
  .container
    max-width: 960px


html
  height: 100%

body
  display: flex
  flex-direction: column
  height: 100%
  background: $gray100
  color: $gray60
  @include fontMontserrat(18px)
  line-height: 25px

#__next
  flex: 1
  display: flex
  flex-direction: column

.overflow
  overflow: hidden


*:focus
  outline: 0 !important

.default-icon
  height: 50px

.text-center
  text-align: center

.text-right
  text-align: right

.mb50
  margin-bottom: 50px

.mb80
  margin-bottom: 80px

.embed-container
  position: relative
  padding-bottom: 56.25%
  overflow: hidden
  max-width: 100%
  height: auto

.embed-container iframe, .embed-container object, .embed-container embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0


/* Firefox */
input[type=number]
  -moz-appearance: textfield

.position-relative
  position: relative

.custom-video-controls
  z-index: 2147483647


.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  z-index: 10000
  margin: auto
  max-height: 100%
  overflow: auto
  padding: 100px 0




