@import "../../../../stylesheets/index"

.courses
  $root: &
  display: grid
  grid-auto-flow: column
  grid-row-gap: 20px
  position: relative
  margin: 0 5px

  &__item
    position: relative
    background: $gray50
    border-radius: 10px
    padding: 20px
    display: grid
    align-items: center
    @include fontMontserrat(14px)
    line-height: 17px
    text-transform: uppercase
    color: $white

    &_school
      #{$root}__toolbar
        background: $school

      #{$root}__circle
        stroke: $school

    &_college
      #{$root}__toolbar
        background: $college

      #{$root}__circle
        stroke: $college

    &_university
      #{$root}__toolbar
        background: $university

      #{$root}__circle
        stroke: $university

  &__toolbar
    position: absolute
    top: 0
    left: 11px
    right: 11px
    @include fontMontserrat(12px)
    line-height: 15px
    text-align: center
    text-transform: capitalize
    height: 20px
    display: grid
    align-items: center
    justify-content: center
    border-radius: 0 0 10px 10px

  &__pie
    position: absolute
    right: 8px
    bottom: 11px

