@import "../../../../stylesheets/index"

.list
  position: relative
  margin: 50px 0
  display: flex
  justify-content: space-between

  &__item
    position: relative
    flex: 1
    flex-direction: column
    display: flex
    margin-right: 30px
    border: 2px solid $white
    border-radius: 30px
    padding: 45px 30px 30px
    background: $gray50

    &:last-child
      margin-right: 0

  &__icon
    position: relative
    display: flex
    flex-direction: column
    justify-content: center

    div
      text-align: center
      display: flex
      justify-content: center

    svg
      width: 80px
      height: 80px

      path
        stroke: $white

  &__name
    @include fontMontserrat(36px)
    line-height: 43.88px
    color: $white
    text-transform: uppercase
    text-align: center
    padding: 13.5px 0

  &__error
    color: $red50
    padding: 15px 0

  &__description
    @include fontMontserrat(20px)
    line-height: 25px
    color: $white
    text-align: center
    padding-bottom: 45px

  &__price
    @include fontMontserrat(24px, 700)
    line-height: 29.26px
    color: $white
    text-align: center

    span
      @include fontMontserrat(36px, 700)
      line-height: 43.88px

  &__old
    @include fontMontserrat(18px)
    color: $white
    text-align: center
    padding: 15px 0
    text-decoration: line-through

  &__action
    margin: 15px 0

  &__button
    border-radius: 10px
    @include fontMontserrat(24px, 700)
    line-height: 30px
    border: 0
    width: 100%
    padding: 10px 0
    color: $white
    cursor: pointer

    &_school
      background: $school

    &_college
      background: $college

    &_university
      background: $university

